/.idea/
/build/
/dist/
/src/stylesheet.css
/src/stylesheet.css.map
/src/schemas/gschemas.compiled
/.sass-cache/
__pycache__/
*.pyc
debian/.debhelper/
debian/files
debian/gnome-shell-extension-transparent-top-bar/
debian/*.substvars
debian/*.log
debian/debhelper-build-stamp
